@page "/"

<h1>Hello, world!</h1>
<div class="mt-3 mb-3">
  <p class="text-wrap">This Application is used as a sort of journal where I would be adding notes regarding various patterns and design decisions, I have learned overtime.</p>

</div>


<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-3">
      <img class="img-fluid  img-thumbnail" src="./assets/design-patterns.jpg" alt="...">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title">Design Patterns</h5>
        <p class="card-text"> Design patterns are typical solutions to common problems in software design. Each pattern is like a blueprint that you can customize to solve a particular design problem in your code. </p>
        <button type="button" class="btn btn-outline-primary">More</button>
        @* https://en.wikipedia.org/wiki/Design_Patterns *@
      </div>
    </div>
  </div>
</div>