@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
       
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://github.com/yvrkarthik/DesignPatterns" target="_blank">
                <i class="fab fa-github" style="color: blue;font-size: 1.5rem;" aria-hidden="true"></i>
            </a>

            <a href="https://www.linkedin.com/in/rajivkarthikyanamandra/" target="_blank">
                <i class="fab fa-linkedin" style="color: blue;font-size: 1.5rem;" aria-hidden="true"></i>
            </a>


        </div>

        <div class="content px-4">
            @Body

            <footer class="footer mt-auto px-1 py-1">

                <span class="text-muted">© Copyright,&nbsp;@DateTime.Now.Year &nbsp;Rajiv Karthik Yanamandra  </span>

            </footer>
        </div>

    </div>
</div>